// Basic resets
body {
  background-color: #ffffff;
  margin: 0 !important;
  padding: 0;
}

table {
  border-spacing: 0;
  color: #333333;
  font-family: sans-serif;
}

td {
    padding: 0;
}

img {
  border: 0;
}

div[style*='margin: 16px 0'] {
  margin:0 !important;
}

.wrapper {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  table-layout: fixed;
  width: 100%;
}

.webkit {
    margin: 0 auto;
    max-width: 600px;
}
