// @file
// Color variables


//Color Palette
$gray: #231b18;
$blue: #006cb7;
$blue-gray: #35a0ea;
$red: #e32a2a;



$primary-text-color: $gray;
$heading-text-color: $gray;
$body-color: #fff;
$link-color: $blue;
$link-hover-color: $blue-gray;
$selection-background: blue;
$selection-foreground: #fff;

// Buttons
$button-bg-color: #ffffff;
$button-text-color: #333;
