<tr>
    <td class="l-one-column">
        <table width="100%">
            <tr>
                <td class="inner contents">
                    {% block contentOneColumn %}
                      Content for single column
                    {% endblock contentOneColumn %}
                </td>
            </tr>
        </table>
    </td>
</tr>
