<tr>
    <td class="l-one-column">
        <table width="100%">
            <tr>
                <td class="inner contents {{modifier}}">
                    {% block contentOneColumn %}
                      <p style="padding: 10px; background: #ccc">
                        Content for single column
                      </p>
                    {% endblock contentOneColumn %}
                </td>
            </tr>
        </table>
    </td>
</tr>
