
<tr>
  <td class="l-sidebar-left">
    <!--[if mso]>
    <table width="100%">
    <tr>
    <td width="100" valign="top">
    <![endif]-->
    <div class="column pos-left">
      <table width="100%">
              <tr>
                  <td class="inner">
                    {% block sidebarColumn%}
                      [column to go here]
                    {% endblock sidebarColumn%}
                  </td>
              </tr>
        </table>
      </div>
    <!--[if mso]>
    </td><td width="500" valign="top">
    <![endif]-->
    <div class="column main">
      <table width="100%">
              <tr>
                  <td class="inner">
                    {% block mainColumn%}
                      [column to go here]
                    {% endblock mainColumn%}
                  </td>
              </tr>
        </table>
      </div>

    <!--[if mso]>
    </td>
    </tr>
    </table>
    <![endif]-->
  </td>
</tr>
