{% extends "/templates/_base.twig" %}
{% import "/templates/macros/_m-images.twig" as images %}
{% import "/templates/macros/_m-buttons.twig" as buttons %}

{% block content %}
  {% embed "layouts/_l-two-column.twig" %}
    {% block twoColumnA%}
    <p style="font-size: 16px; padding: 10px; background: #ccc">
      Content for the first Column
    </p>
    {% endblock twoColumnA%}
    {% block twoColumnB%}
    <p style="font-size: 16px; padding: 10px; background: #ccc">
      Content for the second Column
    </p>
    {% endblock twoColumnB%}
  {% endembed %}
{% endblock content %}
