
$base-button-color: blue;


.button {

}


.button__cell {
   border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.button__link {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e9703e;
  color: #ffffff;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 12px 18px;
  text-decoration: none;
}
