

.appleLinksWhite,
.appleLinksWhite a {
  color: #333333 !important;
  text-decoration: none;
}

.appleLinksBlack,
.appleLinksBlack a {
  color: #333333 !important;
  text-decoration: none;
}

.category {
  color: $red;
  font-size: 13px;
  text-align: left;
  Margin-bottom: 5px;
}

.region-footer {
  .h2 {
    color: #95989A;
  }
  .text {
    color: #95989A;
    font-size: 13px;
  }
}
